/* full page! */
html, body, #map {
    height:100%;
    width:100%;
    padding:0px;
    margin:0px;
} 

/* smaller popups */
.leaflet-popup-content p, .leaflet-popup-content h3 {
    margin: 0;
}

.reload-control {
    height: 30px;
    width: 30px;
    background: white;
    border-radius: 4px;
    cursor: pointer;
}
.reload-control .icon {
    height: 30px;
    width: 30px;
    position: absolute;
    background-image: url(reload-icon.png);
}
